/* CUSTOM PROPS */
:root {
    --text-color: #333;
    --accent-color-green: #0A775F;
    --accent-color-green-80: rgba(10, 119, 95, 0.8);
    --accent-color-green-60: rgba(10, 119, 95, 0.6);
    --accent-color-brown: #c99b67;
    --accent-color-brown-80: rgba(201, 155, 103, 0.8);
    --accent-color-brown-60: rgba(201, 155, 103, 0.6);
    --light-brown: #f3d7b7;
    --light-bg: #f8f8f2;
    --outline-color: var(--accent-color-green);
}


/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.75;
    font-family: "Roboto", "Arial", sans-serif;
    background-color: #fff;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

*:focus {
    outline: 2px dashed var(--outline-color);
    outline-offset: 3px;
} 


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}


/* BUTTON */
.button {
    display: inline-block;
    padding: 16px 24px;
    border: 0;
    border-radius: 100px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-variant: all-small-caps;
    white-space: nowrap;
    letter-spacing: 1px;
}

.button-green {
    color: #fff;
    background-color: var(--accent-color-green);
}

.button-green:hover {
    background-color: var(--accent-color-green-80);
}

.button-green:active {
    background-color: var(--accent-color-green-60);
}

.button-brown {
    background-color: var(--accent-color-brown);
}

.button-brown:hover {
    background-color: var(--accent-color-brown-80);
}

.button-brown:active {
    background-color: var(--accent-color-brown-60);
}


/* MAIN-CONTENT */
main {
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 50px;
}


/* SITE-HEADER-HERO-WRAPPER */
.site-header-hero-wrapper {
    background-color: var(--light-brown);
    background-image: url("../img/site-header-content-bg.jpeg")
}


/* SITE-HEADER */
.site-header {
    padding-top: 40px;
    padding-bottom: 40px;
}

.site-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;
}

.site-header-logo-link {
    display: flex;
    flex-shrink: 0;
    text-decoration: none;
}

.site-header-logo-link:hover {
    opacity: 0.8;
}

.site-header-logo-link:active {
    opacity: 0.6;
}

.site-header-logo-img {
    width: 235px;
    height: 24px;
    object-fit: contain;
}

.sitenav-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav-item:not(:last-child) {
    margin-right: 40px;
}

.sitenav-link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: nowrap;
}

.sitenav-link:hover {
    color: var(--accent-color-green)
}

.sitenav-link:active {
    opacity: 0.6;
}


/* HERO */
.hero-container {
    display: flex;
    padding-left: 0;
    padding-right: 0;
}

.hero-info-wrapper {
    width: 100%;
    max-width: 730px;
    padding-right: 116px;
    padding-left: 150px;
    padding-top: 116px;
    padding-bottom: 100px;
}

.hero-heading {
    margin: 0;
    color: #000;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero-text {
    margin: 0;
    margin-top: 24px;
    margin-bottom: 0;
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.hero-text:not(:last-child) {
    margin-bottom: 34px;
}

.hero-img {
    width: 710px;
    height: 596px;
    object-fit: cover;
}

.hero-img-index {
    height: 696px;
}


/* INDEX-COLLECTION */
.index-collection-inner {
    padding: 50px 143px;
    background-color: var(--light-bg);
    background-image: url("../img/products-bg.jpg");
}

.index-collection-heading {
    margin: 0;
    margin-bottom: 80px;
    color: #000;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-variant: all-small-caps;
}

.index-collection-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.index-collection-item {
    display: flex;
    align-items: center;
}

.index-collection-item:nth-child(even) {
    flex-direction: row-reverse;
}

.index-collection-img {
    width: 450px;
    height: 375px;
    object-fit: cover;
}

.index-collection-info {
    flex-grow: 1;
    padding-left: 117px;
    padding-right: 117px;
}

.index-collection-title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--text-color);
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-variant: all-small-caps;
    text-transform: uppercase;
}

.index-collection-text {
    margin: 0;
    color: var(--text-color);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 154.545% */
}

.index-collection-text:not(:last-child) {
    margin-bottom: 10px;
}

/* .index-collection-item:nth-child(odd) .index-collection-info  {
    padding-left: 117px;
}

.index-collection-item:nth-child(even) .index-collection-info {
    padding-right: 117px;
} */



/* RETINA-BG */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 


}

